# Google OAuth (lato server - funzioni API)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
REDIRECT_URI=http://localhost:5173/auth/callback

# Vite (lato client - frontend)
VITE_GOOGLE_CLIENT_ID=
VITE_REDIRECT_URI=http://localhost:5173/auth/callback
